node-red/mqtt.json
[
    {
        "id": "bcf967d8.9fd8b8",
        "type": "mosca in",
        "z": "a69acd1e.31637",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 130,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d55cf240.11ada",
        "type": "mqtt in",
        "z": "a69acd1e.31637",
        "name": "player",
        "topic": "player",
        "qos": "2",
        "broker": "a903374f.fd6558",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "88c92c56.7492f"
            ]
        ]
    },
    {
        "id": "24277f79.0857c",
        "type": "mqtt out",
        "z": "a69acd1e.31637",
        "name": "enemy",
        "topic": "enemy",
        "qos": "",
        "retain": "",
        "broker": "a903374f.fd6558",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "a8ab676.245fa98",
        "type": "inject",
        "z": "a69acd1e.31637",
        "name": "",
        "topic": "",
        "payload": "100",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "1c43d62c.76bc0a"
            ]
        ]
    },
    {
        "id": "88c92c56.7492f",
        "type": "debug",
        "z": "a69acd1e.31637",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 260,
        "y": 180,
        "wires": []
    },
    {
        "id": "a4b0f284.98485",
        "type": "function",
        "z": "a69acd1e.31637",
        "name": "",
        "func": "msg.payload -= 5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "7aab242.fd80fdc"
            ]
        ]
    },
    {
        "id": "7aab242.fd80fdc",
        "type": "switch",
        "z": "a69acd1e.31637",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "a4b0f284.98485",
                "126c943d.3ccd8c"
            ]
        ]
    },
    {
        "id": "126c943d.3ccd8c",
        "type": "delay",
        "z": "a69acd1e.31637",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "ca82cb43.bbd948"
            ]
        ]
    },
    {
        "id": "ca82cb43.bbd948",
        "type": "function",
        "z": "a69acd1e.31637",
        "name": "",
        "func": "msg.payload = msg.payload + \":\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "24277f79.0857c"
            ]
        ]
    },
    {
        "id": "1c43d62c.76bc0a",
        "type": "delay",
        "z": "a69acd1e.31637",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "a4b0f284.98485"
            ]
        ]
    },
    {
        "id": "888e9907.0c2e78",
        "type": "mqtt in",
        "z": "a69acd1e.31637",
        "name": "enemy",
        "topic": "enemy",
        "qos": "2",
        "broker": "a903374f.fd6558",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "92032fe9.9ef0f"
            ]
        ]
    },
    {
        "id": "92032fe9.9ef0f",
        "type": "debug",
        "z": "a69acd1e.31637",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "a903374f.fd6558",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]