node-red/mqtt.json
[
    {
        "id": "bcf967d8.9fd8b8",
        "type": "mosca in",
        "z": "a69acd1e.31637",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 150,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d55cf240.11ada",
        "type": "mqtt in",
        "z": "a69acd1e.31637",
        "name": "player",
        "topic": "player",
        "qos": "2",
        "broker": "a903374f.fd6558",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "665aee00.2bd4a4"
            ]
        ]
    },
    {
        "id": "24277f79.0857c",
        "type": "mqtt out",
        "z": "a69acd1e.31637",
        "name": "enemy",
        "topic": "enemy",
        "qos": "",
        "retain": "",
        "broker": "a903374f.fd6558",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "a8ab676.245fa98",
        "type": "inject",
        "z": "a69acd1e.31637",
        "name": "",
        "topic": "",
        "payload": "100",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "1c43d62c.76bc0a"
            ]
        ]
    },
    {
        "id": "a4b0f284.98485",
        "type": "function",
        "z": "a69acd1e.31637",
        "name": "",
        "func": "msg.payload -= 5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "7aab242.fd80fdc"
            ]
        ]
    },
    {
        "id": "7aab242.fd80fdc",
        "type": "switch",
        "z": "a69acd1e.31637",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "a4b0f284.98485",
                "126c943d.3ccd8c"
            ]
        ]
    },
    {
        "id": "126c943d.3ccd8c",
        "type": "delay",
        "z": "a69acd1e.31637",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 460,
        "wires": [
            [
                "ca82cb43.bbd948"
            ]
        ]
    },
    {
        "id": "ca82cb43.bbd948",
        "type": "function",
        "z": "a69acd1e.31637",
        "name": "",
        "func": "msg.payload = msg.payload + \":\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "24277f79.0857c"
            ]
        ]
    },
    {
        "id": "1c43d62c.76bc0a",
        "type": "delay",
        "z": "a69acd1e.31637",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "a4b0f284.98485"
            ]
        ]
    },
    {
        "id": "8a1529c5.d7af58",
        "type": "debug",
        "z": "a69acd1e.31637",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "cb595e.2e5096a",
        "type": "serial out",
        "z": "a69acd1e.31637",
        "name": "",
        "serial": "6bbde819.193e98",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "57c8c5cc.c3f68c",
        "type": "serial in",
        "z": "a69acd1e.31637",
        "name": "",
        "serial": "6bbde819.193e98",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "8a1529c5.d7af58"
            ]
        ]
    },
    {
        "id": "665aee00.2bd4a4",
        "type": "function",
        "z": "a69acd1e.31637",
        "name": "",
        "func": "var buf = new Buffer(1)\nbuf[0] = msg.payload;\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "dc899d6e.428a4",
                "cb595e.2e5096a"
            ]
        ]
    },
    {
        "id": "30cb1fbf.b8fba",
        "type": "inject",
        "z": "a69acd1e.31637",
        "name": "",
        "topic": "",
        "payload": "[1]",
        "payloadType": "bin",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "cb595e.2e5096a"
            ]
        ]
    },
    {
        "id": "888e9907.0c2e78",
        "type": "mqtt in",
        "z": "a69acd1e.31637",
        "name": "enemy",
        "topic": "enemy",
        "qos": "2",
        "broker": "a903374f.fd6558",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "dc899d6e.428a4"
            ]
        ]
    },
    {
        "id": "dc899d6e.428a4",
        "type": "debug",
        "z": "a69acd1e.31637",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "1e8ab0e1.73468f",
        "type": "inject",
        "z": "a69acd1e.31637",
        "name": "",
        "topic": "",
        "payload": "200:200",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "40c6c0cc.d1ea4"
            ]
        ]
    },
    {
        "id": "40c6c0cc.d1ea4",
        "type": "delay",
        "z": "a69acd1e.31637",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 280,
        "y": 620,
        "wires": [
            [
                "5e0693f5.5bd63c",
                "55e8bc91.9667c4"
            ]
        ]
    },
    {
        "id": "5e0693f5.5bd63c",
        "type": "mqtt out",
        "z": "a69acd1e.31637",
        "name": "enemy",
        "topic": "enemy",
        "qos": "",
        "retain": "",
        "broker": "a903374f.fd6558",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "d839b5c6.a72a18",
        "type": "delay",
        "z": "a69acd1e.31637",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 330,
        "y": 700,
        "wires": [
            [
                "edbbb72.4589748",
                "5e0693f5.5bd63c"
            ]
        ]
    },
    {
        "id": "55e8bc91.9667c4",
        "type": "function",
        "z": "a69acd1e.31637",
        "name": "",
        "func": "msg.payload = \"200:100\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "d839b5c6.a72a18"
            ]
        ]
    },
    {
        "id": "b0fffa4b.9b7f48",
        "type": "delay",
        "z": "a69acd1e.31637",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 330,
        "y": 760,
        "wires": [
            [
                "e239fd42.33f2f",
                "5e0693f5.5bd63c"
            ]
        ]
    },
    {
        "id": "edbbb72.4589748",
        "type": "function",
        "z": "a69acd1e.31637",
        "name": "",
        "func": "msg.payload = \"100:100\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 760,
        "wires": [
            [
                "b0fffa4b.9b7f48"
            ]
        ]
    },
    {
        "id": "d181139f.309d1",
        "type": "delay",
        "z": "a69acd1e.31637",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 330,
        "y": 820,
        "wires": [
            [
                "5e0693f5.5bd63c"
            ]
        ]
    },
    {
        "id": "e239fd42.33f2f",
        "type": "function",
        "z": "a69acd1e.31637",
        "name": "",
        "func": "msg.payload = \"100:200\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 820,
        "wires": [
            [
                "d181139f.309d1"
            ]
        ]
    },
    {
        "id": "a903374f.fd6558",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6bbde819.193e98",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/tty.usbmodem1441",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "1",
        "bin": "bin",
        "out": "count",
        "addchar": false
    }
]